@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:wght@300;400;500;900&display=swap');
@import "/node_modules/modern-normalize/modern-normalize.css";

@layer reset {
    html, body {
        font-family: Roboto, sans-serif;
    }
}
/*
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 0 0% 7%;
    --white: 0 0% 100%;

    --extra-light-gray: 0 0% 98%;
    --light-gray: 0 0% 95%;
    --medium-gray: 0 0% 83%;
    --gray: 0 0% 55%;
    --dark-gray: 0 0% 42%;

    --primary: 257 74% 57%;
    --primary-hover: 257 54% 45%;
    --primary-active: 257 52% 36%;
    --primary-disabled: 257 72% 92%;

    --destructive: 2 66% 58%;
    --destructive-hover: 2 53% 50%;
    --destructive-active: 1 60% 42%;
    --destructive-disabled: 1 71% 85%;

    --success: 145 63% 42%;
    --info: 216 94% 62%;
  }
}*/
